<h2>Personal Data</h2>


<form ng-controller="personalDataCtrl" class="form-horizontal">

    <div class="form-group">
        <label for="Title" class="col-sm-3 control-label"> Title:</label>
        <div class="col-sm-9">
            <select class="form-control" ng-model="user.title" id="Title" placeholer="Select Title">
                <option value=''>Select Title</option>
                <option value="Interim Employment Reference">Interim Employment Reference</option>
                <option value="Employment Reference">Employment Reference</option>
                <option value="Internship reference">Internship reference</option>
                <option value="Apprenticeship certificate">Apprenticeship certificate</option>
                <option value="Evidence of employment">Evidence of employment</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="inputLastName" class="col-sm-3 control-label"> Last Name:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
    </div>

    <div class="form-group">
        <label for="inputFirstName" class="col-sm-3 control-label"> First Name:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail" class="col-sm-3 control-label"> Email:</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>

    <div class="form-group">
        <label for="gender" class="col-sm-3 control-label"> Gender:</label>
        <div class="col-sm-9" id="gender">
            <div class="radio-inline">
                <input type="radio" ng-model="user.gender" value="male"> Male
            </div>
            <div class="radio-inline">
                <input type="radio" ng-model="user.gender" value="female"> Female
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="emplDuration" class="col-sm-3 control-label"> Employment duration:</label>
        <div class="col-sm-2" id="emplDuration">
            <input type="text" class="form-control" ng-model="user.fromDate" data-max-date="{{user.untilDate}}" placeholder="From" bs-datepicker>
        </div>

        <div class="col-sm-2">
            <input type="text" class= "form-control" ng-model="user.untilDate" data-min-date="{{user.fromDate}}" placeholder="Until" bs-datepicker>
        </div>
    </div>

    <div class="form-group">
        <label for="functions" class="col-sm-3 control-label"> Functions:</label>
        <div class="col-sm-3" id="functions">
            <multiselection model="selectedFunctionNames" options="functions"></multiselection>
        </div>

        <div class="col-sm-3">
            <ul class="ul-functions">
                <label>Selected Functions: </label>
                <li data-ng-repeat="item in selectedFunctionNames">
                    {{ item }}
                </li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="departments" class="col-sm-3 control-label"> Deparments:</label>
        <div class="col-sm-9">
            <select class="form-control" ng-controller="departmentCtrl" ng-model="user.department" id="departments">
                <option ng-repeat="department in departments">{{department.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="workQuota" class="col-sm-3 control-label"> Work quoata:</label>
        <div class="col-sm-9">
            <select ng-model="user.workquota" class="form-control" id="workQuota">
                <option value="10">10%</option>
                <option value="20">20%</option>
                <option value="30">30%</option>
                <option value="40">40%</option>
                <option value="50">50%</option>
                <option value="60">60%</option>
                <option value="70">70%</option>
                <option value="80">80%</option>
                <option value="90">90%</option>
                <option value="100">100%</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="workPlace" class="col-sm-3 control-label"> Place of work:</label>
        <div class="col-sm-9">
            <select ng-model="user.workplace" class="form-control" ng-controller="workPlaceCtrl" id="workPlace">
                <option ng-repeat="workPlace in workPlaces">{{workPlace.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="commentsInput" class="col-sm-3 control-label"> Comments:</label>
        <div class="col-sm-9">
            <textarea class="form-control" rows="3" ng-model="user.comment" id="commentsInput"></textarea>
        </div>
    </div>

    <div class="form-group">

        <div class="col-sm-offset-3 col-sm-1">
            <input type="submit" class="btn btn-default" ng-click="update(user)" value="Save" />
        </div>

        <div class="col-sm-1">
            <a class="btn btn-default" href="#user_tasks_view" role="button">Tasks</a>
        </div>
    </div>

    <div class="form-group">
        <pre>form = {{user | json}}</pre>
        <pre>master = {{master | json}}</pre>
    </div>



</form>




