<div class="row" ng-controller="performanceCtrl">
    <div class="col-md-12">
        <h1>Development and professional expertise</h1>
        <form novalidate class="simple-form">
            <ul class="list-unstyled" ng-controller="skillsCtrl">
                <li ng-repeat="skill in skills">
                    <div ng-if="skill.chapter=='dev_exp'">
                        <p>{{skill.label}}</p>
                        <textarea class="form-control" rows="3" ng-model="user[skill.skill_id]"></textarea><br/>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>

<div class="row">
    <h1>Assessment of performance and working method</h1>
</div>

<div class="row">
    <h2>Working method</h2>
</div>

<div class="row">
    <h3>Diligence and reliability</h3>
</div>

<div class="row" ng-controller="performanceCtrl">
    <div class="col-md-6">
        <ul class="list-unstyled" ng-controller="skillsCtrl">
            <li>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td class="col-md-1">Attribute</td>
                        <td class="col-md-1">Check for rating</td>
                        <td class="col-md-1">Rating</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="skill in skills" ng-if="skill.chapter=='diligence_reliability'">
                        <td>{{skill.label}}</td>
                        <td><input type="checkbox" ng-model="skill.ratingChecked"></td>
                        <td>
                            <div id="radio_rating" ng-show="skill.ratingChecked">
                                - <input type="radio" ng-model="radioRatingModel.rating" value="0">
                                + <input type="radio" ng-model="radioRatingModel.rating" value="1">
                                ++ <input type="radio" ng-model="radioRatingModel.rating" value="2">
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </li>
        </ul>


    </div>

    <div class="col-md-6">
        <textarea class="form-control" rows="8" ng-model="freetext_rating" placeholder="Rating" style="margin-top: 35px"></textarea>
    </div>

</div>







